{% include 'header.html' %}
{% for clientes in clientes %}
{% with messages= get_flashed_messages() %}

    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>

    {% endif %}

{% endwith %}

<br><br>
<form method="post" action="/store1" enctype="multipart/form-data">
    
    <div class="card">
        <div class="card-header">
            Registrar Nueva Cita
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos de la Cita</h5>
            <p class="card-text">
                <div  class="form-group">
                    <label for="txtfecha">Fecha</label>
                    <input id="txtfecha" class="form-control" type="text" name="txtfecha" placeholder="AAAA-MM-DD">
                </div>

                <div class="form-group">
                    <input id="txtid_cliente" class="form-control" value="{{clientes[0]}}" type="hidden" name="txtid_cliente">
                </div>

                <div class="form-group">
                    <label for="txtnombre">Nombre</label>
                    <input id="txtnombre" class="form-control" value="{{clientes[1]}}" type="text" name="txtnombre">
                </div>
                
                
                
                <div class="form-group">
                    <label for="txtcorreo">Correo</label>
                    <input id="txtcorreo" value="{{clientes[5]}}" class="form-control" type="text" name="txtcorreo">
                </div>



                <select id="txthora" name="txthora" class="form-select" aria-label="Default select example">
                    <option  selected>Selecciona Horario</option>
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>

                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>

                  </select>


                
                <br><br>
                <div class="form-group">
                    <input onclick="return confirm('¿Desea Agendar Cita? \n\n Se le enviara un correo de confirmacion al usuario')" type="submit" class="btn btn-success" value="Agendar">
                    <a  href="{{ url_for('index') }}" class="btn btn-primary">Regresar</a>
                </div>
            </p>
            
        </div>
    </div>
</form>
{% endfor %}
{% include 'footer.html' %}